--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8 (Debian 15.8-1.pgdg110+1)
-- Dumped by pg_dump version 15.8 (Debian 15.8-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: catastro_buildings; Type: TABLE; Schema: public; Owner: zaragoza_user
--

CREATE TABLE public.catastro_buildings (
    id integer NOT NULL,
    cadastral_ref character varying(20),
    inspire_id character varying(100),
    year_built integer,
    decade integer GENERATED ALWAYS AS (
CASE
    WHEN (year_built IS NOT NULL) THEN ((year_built / 10) * 10)
    ELSE NULL::integer
END) STORED,
    floors_above smallint,
    floors_below smallint,
    current_use character varying(100),
    geometry public.geometry(MultiPolygon,4326) NOT NULL,
    source character varying(50) DEFAULT 'Catastro INSPIRE'::character varying,
    imported_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.catastro_buildings OWNER TO zaragoza_user;

--
-- Name: TABLE catastro_buildings; Type: COMMENT; Schema: public; Owner: zaragoza_user
--

COMMENT ON TABLE public.catastro_buildings IS 'Edificios del Catastro Espa├▒ol importados desde el GML INSPIRE';


--
-- Name: COLUMN catastro_buildings.year_built; Type: COMMENT; Schema: public; Owner: zaragoza_user
--

COMMENT ON COLUMN public.catastro_buildings.year_built IS 'A├▒o de construcci├│n extra├¡do del campo bu-core2d:beginning del GML';


--
-- Name: COLUMN catastro_buildings.decade; Type: COMMENT; Schema: public; Owner: zaragoza_user
--

COMMENT ON COLUMN public.catastro_buildings.decade IS 'Decena calculada autom├íticamente (ej: 1975 ÔåÆ 1970)';


--
-- Name: COLUMN catastro_buildings.geometry; Type: COMMENT; Schema: public; Owner: zaragoza_user
--

COMMENT ON COLUMN public.catastro_buildings.geometry IS 'Pol├¡gono(s) del edificio en WGS84 (EPSG:4326), reproyectado desde ETRS89/UTM30N';


--
-- Name: catastro_buildings_id_seq; Type: SEQUENCE; Schema: public; Owner: zaragoza_user
--

CREATE SEQUENCE public.catastro_buildings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.catastro_buildings_id_seq OWNER TO zaragoza_user;

--
-- Name: catastro_buildings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: zaragoza_user
--

ALTER SEQUENCE public.catastro_buildings_id_seq OWNED BY public.catastro_buildings.id;


--
-- Name: catastro_buildings id; Type: DEFAULT; Schema: public; Owner: zaragoza_user
--

ALTER TABLE ONLY public.catastro_buildings ALTER COLUMN id SET DEFAULT nextval('public.catastro_buildings_id_seq'::regclass);


--
-- Name: catastro_buildings catastro_buildings_pkey; Type: CONSTRAINT; Schema: public; Owner: zaragoza_user
--

ALTER TABLE ONLY public.catastro_buildings
    ADD CONSTRAINT catastro_buildings_pkey PRIMARY KEY (id);


--
-- Name: idx_buildings_decade; Type: INDEX; Schema: public; Owner: zaragoza_user
--

CREATE INDEX idx_buildings_decade ON public.catastro_buildings USING btree (decade);


--
-- Name: idx_buildings_geom_year; Type: INDEX; Schema: public; Owner: zaragoza_user
--

CREATE INDEX idx_buildings_geom_year ON public.catastro_buildings USING gist (geometry) WHERE (year_built IS NOT NULL);


--
-- Name: idx_buildings_geometry; Type: INDEX; Schema: public; Owner: zaragoza_user
--

CREATE INDEX idx_buildings_geometry ON public.catastro_buildings USING gist (geometry);


--
-- Name: idx_buildings_year; Type: INDEX; Schema: public; Owner: zaragoza_user
--

CREATE INDEX idx_buildings_year ON public.catastro_buildings USING btree (year_built);


--
-- PostgreSQL database dump complete
--

